
/**************** ICONS *********************/
@font-face {
  font-family: 'icomoon';
  src:url('../fonts/icomoon.eot?-uziz1a');
  src:url('../fonts/icomoon.eot?#iefix-uziz1a') format('embedded-opentype'),
    url('../fonts/icomoon.woff?-uziz1a') format('woff'),
    url('../fonts/icomoon.ttf?-uziz1a') format('truetype'),
    url('../fonts/icomoon.svg?-uziz1a#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-filled-two:before {
  content: "\e60d \e60d \e60e \e60e \e60e";
}
.icon-filled-three:before {
  content: "\e60d \e60d \e60d \e60e \e60e";
}
.icon-filled-four:before {
  content: "\e60d \e60d \e60d \e60d \e60e";
}
.icon-heart:before {
  content: "\e900";
}
.icon-arrow:before {
  content: "\e901";
}
.icon-joystick:before {
  content: "\e600";
}
.icon-linkedin:before {
  content: "\e601";
}
.icon-movies:before {
  content: "\e602";
}
.icon-music:before {
  content: "\e603";
}
.icon-painting:before {
  content: "\e604";
}
.icon-skype:before {
  content: "\e605";
}
.icon-tree:before {
  content: "\e606";
}
.icon-twitter:before {
  content: "\e607";
}
.icon-video:before {
  content: "\e608";
}
.icon-web-design:before {
  content: "\e609";
}
.icon-yoga:before {
  content: "\e60a";
}
.icon-book:before {
  content: "\e60b";
}
.icon-check-box:before {
  content: "\e60c";
}
.icon-circle:before {
  content: "\e60d";
}
.icon-circle-filled:before {
  content: "\e60e";
}
.icon-contact:before {
  content: "\e60f";
}
.icon-facebook:before {
  content: "\e610";
}
.icon-illustration:before {
  content: "\e612";
}




/***************** SITE STYLE ****************/
html, body {
  width: 100%; 
  height: 100%;
  background-color: #26192B;
}
body {
  margin:0;
  padding:0;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
a,p,h1, h2, h3, h4, h5, li {
  color: #ffffff;
}
a, p {
  font-size: 18pt;
}
a:hover, a:visited, a:focus, a:active {
  color: white;
  text-decoration: underline;
}
ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}
.wrapper {
  width: 100%;
  height: 100%;
}
.home-title {
  color: #000;
  text-decoration: none;
}
@keyframes firstSkill {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(90deg);
  }
}
@keyframes secondSkill {
  0% {
    transform: rotateY(90deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}
.portfolio-section {
  background: #eee;
  padding-bottom: 30px;
}
.skill-1 {
  position: absolute;
  margin-left: 15px;
  perspective: 600px;
}
.skill-1.inview {
  animation-name: firstSkill;
  animation-duration: 1s;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  transform-origin: 0% 0%;
}
.skill-2.inview {
  animation-name: secondSkill;
  animation-duration: 1s;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  transform-origin: 0% 0%; 
}
.skill-2 {
  position: absolute;
  margin-left: 15px;
  perspective: 600px;
  transform: rotateY(90deg);
}
.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
.home {
  background: #372d3b;
  height: 100%;
  width: 100%;
  top:0;
  position: absolute;
  z-index: 1;
  transform: perspective(1000px) rotateY(0deg);
  transform-origin: 0% 50%;
  transition: 1s;
  opacity: 1;
  transition-timing-function: ease-in-out;
}
.home.backdoor {
  transform: perspective(1000px) rotateY(90deg);
  opacity: 0;
  overflow: hidden;
}
.home .container {
  padding: 0;
  height: 100%;
}
.container-position {
  position: relative;
  top: 20%;
  text-align: center;
}
.home-title {
  z-index: 1;
  font-size: 22pt;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
.home-title strong {
  font-weight: 400;
}

.btn-back {
  width: 46px;
  height: 46px;
  background: #a33c57;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 999;
  cursor: pointer;
  text-align: center;
  border-radius: 2px;
  transition: .5s ease-in-out all;
}
.btn-back:hover {
  transform: rotate(360deg) scale(1.1);
  transition: .2s ease-in-out all;
  background: #da4362;
}
.btn-back::before {
  content: 'X';
  font-size: 30px;
  color: white;
}
.tlt {
  margin-left: 5px;
}
.btn-contact {
  top:0;
  right:0;
  position: relative;
  z-index: 10;
  width: 100%;
  padding: 15px;
  text-align: center;
}
.btn-contact a {
  background: #eee;
  padding: 10px 15px;
  border-radius: 5px;
  color: #372d3b;
  font-size: 14pt;
  text-decoration: none;
}
.scene {
  margin:0;
  padding:0;
  overflow: hidden;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  transform: translate3d(0px, 0px, 0px);
  transform-style: preserve-3d;
  backface-visibility: hidden;
}
.scene li {
  bottom: 0;
  height: 100%;
  left: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.first img {
  position: absolute;
  z-index: 0;
  top: -64px;
}
.second img {
  position: absolute;
  right: 0;
  top: -1px;
  z-index: -1;
}
.img-lake-mountains {
  position: absolute;
  left: 50%;
  top:72%;
  margin-left: -400px;
  z-index: -2;
}
.bote {
  position: absolute;
  left: 50%;
  margin-left: 100px;
  top: 84%;
  z-index: -2;
}
.sun object {
  position: absolute;
  z-index: -8;
  top: 66%;
  left: 50%;
  margin-left: 310px;
}
.clouds img {
  margin-top: -5%;
  margin-left: -5%;
  position: absolute;
  z-index: -9;
  top:0;
}

/********************************

WORK

********************************/
.works {
  position: relative;
  height: auto;
  margin: 40px 0;
  padding: 40px 0;
}
.subtitle {
  display: block;
  font-size: 34pt;
  font-weight: 100;
  margin: 30px 0 0 0;
  padding: 70px 10px 15px 10px; 
  text-align: center;
  color: #222
}
.description {
  display: table-cell;
  width: 60%;
  font-size: 14pt;
  font-weight: 300;
  margin: 0;
  padding: 30px 0 25px 20px;
  color: #222;
  text-align: left;
}
.description a {
  color: #222;
  font-size: 14pt;
}
.btn-filtering {
  font-family: 'Roboto', sans-serif;
  vertical-align: middle;
  padding-right: 14px;
  width: 40%;
  display: table-cell;
  text-align: center;
  padding-top: 18px;
}
.work-list-container .mix {
  display: none;
}
.work-list-container {
  margin: 0;
  padding: 0;
  text-align: center;
  min-height: 400px;
}
.work-list-container li {
  display: inline-block;
  margin: 4px 2px;
  padding:0;
  text-align: left;
  vertical-align: top;
  box-shadow: 1px 2px 3px #222;
}
.work-list-container li img {
  width: 100%;
  height: 100%;
  margin:0;
  padding: 0;
  transition: .2s ease-in-out all;
  -webkit-transition: .2s ease-in-out all;
  -moz-transition: .2s ease-in-out all;
  -o-transition: .2s ease-in-out all;
}
.t-small {
  width: 220px;
  height: 220px;
  position: relative;
  overflow: hidden;
}
.t-small .figure {
  display: block;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

li .figure img {
  position: relative;
  top:0;
}
li:hover .figure img {
  width: 100%;
  height: 100%;

  transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -o-transform: scale(1.5);

  transition: .2s ease-in-out all;
  -webkit-transition: .2s ease-in-out all;
  -o-transition: .2s ease-in-out all;
  -moz-transition: .2s ease-in-out all;
}
.figcaption {
  background: rgba(0,0,0,0.7);
  width: 100%;
  transition: .2s ease-in-out all;
  -webkit-transition: .2s ease-in-out all;
  -o-transition: .2s ease-in-out all;
  -moz-transition: .2s ease-in-out all;
  clear: both;
  min-height: 220px;
  padding: 10px;
  position: relative;
  top: -46px;
}
li:hover .figure .figcaption {
  position: relative;
  top: -220px;
  transition: .2s ease-in-out all;
  -webkit-transition: .2s ease-in-out all;
  -o-transition: .2s ease-in-out all;
  -moz-transition: .2s ease-in-out all;
}
.figcaption h4 {
  margin: 0;
  padding: 0;
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: 100;
}
.figcaption span {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 300;
}
.pink-button {
  background: #da4362;
  padding: 2px 10px;
  font-size: 20px;
  border: 0;
  font-weight: 300;
}
.filter.pink-button {
  font-size: 12pt;
  color: white;
  margin: 5px;
}
.pink-button:hover {
  color: #fff;
  text-decoration: none;
  animation: scaleLink .3s;
  -webkit-animation: scaleLink .3s;
}
.figcaption .pink-button {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.image-loader-custom {
  position: absolute;
  z-index: 0;
  background: url('../img/loader.svg') center center no-repeat;
  pointer-events: none;
  width: 100%;
  top: 0;
  min-height: 100%;
}
@-webkit-keyframes scaleLink {
  0% {
    -webkit-transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
  }
}
@keyframes scaleLink {
  0% {
    -webkit-transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
  }
}
.icon-parent {
  background: #28202b;
  color: #fff;
  font-family: 'icomoon';
  font-size: 36px;
  height: 52px;
  line-height: 52px;
  position: relative;
  right: -5px;
  text-align: center;
  top: -338px;
  width: 54px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  -webkit-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.4);
  box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.4);
  transition: .2s all ease-in-out;
  -webkit-transition: .2s all ease-in-out;
  -moz-transition: .2s all ease-in-out;
}
.t-small:hover .icon-parent,
.t-large:hover .icon-parent {
  top: -278px;
  -o-transition: .2s all ease-in-out;
  -webkit-transition: .2s all ease-in-out;
  -moz-transition: .2s all ease-in-out;
  -o-transition: .2s all ease-in-out;
}
.illustration .icon-parent:before {
  content: "\e605";
}
.video .icon-parent:before {
  content: "\e608";
}
.web .icon-parent:before {
  content: "\e609";
}
.budget-counter {
  background: #da4362;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  height: 32px;
  line-height: 32px;
  position: absolute;
  right: 0px;
  text-align: center;
  top: 0px;
  width: 32px;
  z-index: 9;
  -webkit-border-radius: 50%;
  -webkit-border-top-right-radius: 0;
  -moz-border-radius: 50%;
  -moz-border-radius-topright: 0;
  border-radius: 50%;
  border-top-right-radius: 0;
}
.popup .row {
  display: table;
}
.popup .row [class*="col-"]{
  float: none;
  display: table-cell;
  vertical-align: top;
}
.col-sm-9 {
  vertical-align: middle !important;
  background-color: #000;
}
.col-sm-3 {
  background-color: #372d3b;
}
.popup {
  position: relative;
  padding: 0px;
}
.popup .row {
  margin:0;
}
.popup,
.popup .row,
.popup .row .iframe-content {
  height: 100%;
}
.popup iframe {
  height: 80%;
  width: 100%;
}
.popup img {
  width: 100%;
  position: relative;
  z-index: 1;
  height: auto;
}
.popup p.mfp-tech,
.popup p.mfp-software, 
.popup p.mfp-desc {
  background-color: #372d3b;
  color: #fff;
  text-align: center;
  font-weight: bold;
  margin-top: -5px;
  padding: 10px;
}
.popup .popup-description {
  width: 100%;
  height: 100%;
  color: #fff;
  text-align: left;
  font-weight: bold;
  margin-top: -5px;
  padding: 10px;
}
.mfp-plugins {
  margin-bottom: 20px;
}
.mfp-plugins h1,
.mfp-tech h1,
.mfp-technology h1 {
  font-weight: 100;
  font-size: 26px;
}
.mfp-plugins p,
.mfp-tech p,
.mfp-technology p {
  font-size: 16px;
  font-weight: 300;
}
.mfp-plugins ul li,
.mfp-tech ul li,
.mfp-technology ul li {
  padding-left: 26px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 300;
  background: url('../img/svg-icons/check-box.svg') no-repeat left center;
}
.popup p a {
  color: #da4362;
  display: block;
}
.pattern {
  background: url('../img/pattern.png');
}
.cave-1 {
  background: url('../img/cave-1.png') no-repeat;
  background-size: 100% 100%;
  height: 200px;
  left: 0px;
  position: absolute;
  top: 20%;
  width: 200px;
}
.dino {
  background: url('../img/dino.png') no-repeat;
  background-size: 100% 100%;
  height: 300px;
  position: absolute;
  right: 0px;
  top: 50%;
  width: 300px;
}
.ribs {
  background: url('../img/ribs.png') no-repeat;
  background-size: 100% 100%;
  height: 300px;
  left: 0px;
  position: absolute;
  top: 75%;
  width: 300px;
}
/********************************

HOBBY

********************************/

/********************************

CONTACT

********************************/
.websites, .illustration, .videos, .contact {
  position: absolute;
  width: 100%;
  z-index: -1;
  top:0;
  height: 0;
  left: 0;
  background: #221c25;
  transform: perspective(1000px) rotateY(-90deg);
  transform-origin: 100% 50%;
  transition: 1s;
  transition-timing-function: ease-in-out;
  min-height: 100%;
  display: none;
}
.hobbies-list {
  margin: 0;
  padding: 0;
  min-height: 66px;
}
.hobbies-list li {
  display: inline-block;
  vertical-align: top;
  margin: 0 5px;
}
.hobbies-list li i {
  font-size: 46px;
  position: relative;
  display: block;
}
.hobbies-list li:nth-child(1) i,
.hobbies-list li:nth-child(3) i,
.hobbies-list li:nth-child(5) i {
  transform: rotate(-10deg);
}
.hobbies-list li:nth-child(2) i,
.hobbies-list li:nth-child(4) i,
.hobbies-list li:nth-child(6) i {
  bottom: -30px;
  transform: rotate(10deg);
}
.websites.inview, .illustration.inview, .videos.inview, .contact.inview {
  transform: perspective(1000px) rotateY(0deg);
  z-index: 10;
  height: auto;
}
.copy-container {
  z-index: 2;
}
.contact .container {
  margin-top: 45px;
}
.quotes {
  margin-bottom: 30px;
}
.quotes i {
  font-size: 30px;
  font-weight: 100;
}
.my-description {
  font-weight: 300;
  font-size: 12pt;
  line-height: 16pt;
}
.my-description a {
  font-size: 12pt;
  line-height: 16pt;
}
.contact-content > p {
  line-height: 20pt;
  font-size: 16pt;
  text-align: justify;
}
.info-contact {
  margin-top: 25px;
}
.info-contact p, .info-contact p a {
  line-height: 14pt;
  font-size: 14pt;
  font-weight: 100;
}
.contact-title {
  font-size: 45px;
  display: block;
  border-bottom: 1px solid white;
  margin: 0;
  margin-bottom: 22px;
  padding-bottom: 10px;
}
.social-media a {
  width: 90px;
  height: 90px;
  margin: 0 5px;
  font-size: 60px;
  background: #3a313f;
  color: #fff;
  display: inline-block;
  vertical-align: top;
  transition: .2s ease-in-out all;
}
.social-media a  i {
  line-height: 90px;
}
.info-contact p i.icon-heart {
  color: #e84343;
}
.social-media a:hover,
.social-media a:focus,
.social-media a:active {
  text-decoration: none !important;
  transition: .5s ease-in-out all;
  color: #fff;
  margin-top: -4px;
}
.facebook:hover {
  background-color: #44619d;
}
.twitter:hover {
  background-color: #55acee;
}
.linkedin:hover {
  background-color: #1985bc;
}
.skype:hover {
  background-color: #00aff0;
}
.pdf:hover {
  background-color: #ed394e;
}
.pdf {
  position: relative;
  left: -14px;
}
.facebook, .skype {
  position: relative;
}
.social-section {
  margin-top: 12px;
}
.skills-list p i {
  font-size: 12px;
  text-align: right;
  float: right;
  position: relative;
  top: 8px;
  right: 4px;
}
.skills-list p {
  font-size: 16px;
  margin: 0;
  text-align: left;
  border-bottom: 1px dashed #463b4b;
  padding: 5px 0;
}
.skills-list h3,
.hobbies h3,
.social-media h3,
.about-me h3 {
  font-weight: 100;
  font-size: 28px;
  margin: 30px 0;
}
.skills-list {
  border-right: 1px solid #463b4b;
}
.copy {
  position: absolute;
  z-index: 2;
  bottom: 0px;
  color: white;
  font-size: 16px;
  left: 50%;
  margin-left: -70px;
  text-align: center;
  background: #372d3b;
  padding: 10px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}
.copy div {
  font-size: 7pt;
}
.copy div a {
  display: inline-block;
  margin-right: 5px;
  margin-left: 5px;
}
.copy .icon-hearth {
  font-size: 12px;
  color: #FF5353;
  margin: 0 3px;
}
.thanks a {
  font-size: 10px;
}
.thanks a:hover {
  color: #fff;
}
.mobile-fix {
  margin:0;
  padding: 0;
}
.home-footer {
  width: 100%;
  background: #372d3b;
  padding: 20px 0;
}

.home-footer .social-media a{
  width: 60px;
  height: 60px;
  font-size: 30px;
}
.home-footer .social-media a  i {
  line-height: 60px;
}
.clear {
  clear: both;
}
/********************************

OVERLAY

*********************************/
